<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout--content">
      <h1 class="callout__heading">Ready to get started?</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas tempora
        aperiam illum sed Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Explicabo blanditiis fugiat nostrum commodi odit..
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--streached">Get Started</a>
  </div>
</div>
